.navbar {
  background: #ffffff;
  border-bottom: 1px solid #424242;
  .container {
    padding: 18px 80px;
    .header-content {
      display: flex;
      align-items: center;
      gap: 40px;
      .logo {
        a {
          display: flex;
          align-items: center;
          .img-logo {
            width: 142px;
            height: 32px;
            object-fit: contain;
          }
        }
      }
      .toogle {
        display: none;
      }
      .nav-auth {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        gap: 32px;
        .nav-links {
          list-style: none;
          .nav-link {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #667085;
            text-decoration: none;
            &.active {
              color: #41cccc;
            }
          }
        }
        .auth-buttons {
          display: block;
          .btn-login {
            background-color: transparent;
            border: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #667085;
            text-decoration: none;
          }
        }
        .search-container {
          display: none;
          align-items: center;
          gap: 24px;
          .search-box {
            position: relative;
            display: flex;
            align-items: center;
            .search-input {
              outline: none;
              border-radius: 8px;
              border: 0;
              height: 32px;
              width: 319px;
              padding-inline-start: 36px;
              border: 1px solid #424242;
            }
            .btn-search {
              position: absolute;
              margin-inline-start: 8px;
              background: transparent;
              border: none;
              cursor: pointer;
              top: 8px;
              img {
                height: 17px;
                width: 17px;
              }
            }
          }
          .cart-account {
            display: flex;
            align-items: center;
            gap: 16px;
            .btn-cart {
              position: relative;
              background-color: transparent;
              border: none;
              cursor: pointer;
              img {
                width: 24px;
                height: 24px;
              }
              .cart-count {
                border: 3px solid #ffffff;
                position: absolute;
                top: -10px;
                inset-inline-end: -5px;
                background-color: #41cccc;
                font-weight: 400;
                font-size: 10px;
                line-height: 100%;
                color: #344054;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
            .account {
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #667085;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
