<div class="card">
  <div class="card-header">
    <img src="/images/product.svg" alt="" class="card-image" />
    <div class="dl-badge badge-teal">
      <span>-{{ product().discountPercentage }}%</span>
    </div>
  </div>
  <div class="card-body">
    <h3 class="card-title">{{ product().title }}</h3>
    <p class="card-text">{{ product().description }}</p>
    <div class="price">
      <span class="old-price">
        {{ product().price | number : "1.2-2" }}
        <span class="currancy">USD</span>
      </span>
      <span class="current-price">
        {{
        product().price -
        (product().price * product().discountPercentage) / 100
        | number : "1.2-2"
        }}
        <span class="currancy">USD</span>
      </span>
    </div>
    <div class="meta-info">
      <div>
        <span class="label">Brand:</span>
        <span class="value">{{ product().brand || "-" }}</span>
      </div>
      <div>
        <span class="label">Category:</span>
        <span class="value">{{ product().category || "-" }}</span>
      </div>
      <div>
        <span class="label">In stock:</span>
        <span class="value">{{ product().stock || "-" }}</span>
      </div>
    </div>
    <div class="rating">
      <span class="star">★</span>
      <span class="rate-value">{{ product().rating }}</span>
      <span class="rate-count">({{ product().reviews?.length || 0 }})</span>
    </div>
  </div>
  <div class="card-footer">
    <button class="dl-btn main-btn" (click)="addedItemToCart(product())">Add to Cart</button>
  </div>
</div>