.container {
  padding: 80px 100px 104px;
  display: flex;
  gap: 24px;
  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 30px;
    flex-direction: column;
    .side-filter {
      display: none;
    }
    .row {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
